 @import "../node_modules/materialize-css/dist/css/materialize.css";

 .brand-logo{
    font-size: 1.5rem !important;
 }
 .cards-stacked {
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    background: #eaeff4;
    padding: 20px;
    overflow: hidden;
}
.line{
    padding-left:200px;
}
.lined{
    padding-left:20px;
}
.container{
    width:1500px !important;
}input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    /* box-sizing: content-box; */
    transition: all 0.3s;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px !important; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: 1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  will-change: width, height;
}

.def-dashboard-image {    
    width: 200px;
    height: 200px !important;
}