 
$roboto-font-path: "~materialize-css/dist/fonts/roboto/"; /* This is needed so the materialize.scss file can load the font */
@import "~materialize-css/sass/materialize";
 .brand-logo{
    font-size: 1.5rem !important;
 }
 .oryx-card-header {
    background-color: #00bfa5; 
    border-radius: 15px !important;
}
.beta{
   margin:0px !important
}
.men a:active{
   background-color: white;
}
 
.oryx-card-radius {
    border-radius: 15px;
}
 .cards-stacked {
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    background: #eaeff4;
    padding: 20px;
    overflow: hidden;
}
.tes {
    color: #00bfa5 !important;
}

.explore{
    background:url('assets/images/explore.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;height:350px;
}

.facilities{
    background:url('assets/images/facilities.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;height:350px;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px !important; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: 1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  will-change: width, height;
}

.def-dashboard-image {    
    width: 100px;
    height: 100px !important;
}
.def-image {    
    width: 90px;
    height: 90px !important;
}
.gud {
    overflow-y: hidden;
     padding: 0em!important; 
    resize: none;
    min-height: 3rem;
}
.logo {
   width: 120px;
    height: 61px !important;  
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/mdi/fonts/materialdesignicons-webfont.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../node_modules/mdi/fonts/materialdesignicons-webfont.woff2) format('woff2'),
       url(../node_modules/mdi/fonts/materialdesignicons-webfont.woff) format('woff'),
       url(../node_modules/mdi/fonts/materialdesignicons-webfont.ttf) format('truetype'),
       url(../node_modules/mdi/fonts/materialdesignicons-webfont.svg) format('svg');
       
} 

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
.adjust{
  margin-bottom:10px;
  margin-left:8px;
}
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.saugroboter-h1 {
    font-size: 1.64rem;
    line-height: 1.64rem;
    font-weight: 200;
    margin: 10px 0 35px;
    padding: 0;
}

.filter-elements {
    margin-top: 10px;
    display: block;
}
.filter-elements .btn {
    font-size: .9rem;
    text-transform: none;
    display: block
}

.filter-elements .small-btn {
    padding: 0 10px
}

.filter-elements .collapsible-header {
    background: #eee
}

.filter-elements .collapsible-body {
    padding: 20px;
    background: #fff
}

*,*:before,*:after {
    box-sizing: inherit
}

@media only screen and (min-width: 601px) {
    .filter-elements .collapsible-body {
        display:block
    }
}

@media only screen and (max-width: 600px) {
    .filter-elements {
        display:none
    }
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
   margin: 0 auto;
    max-width: 1500px;
    width: 100%
  
}
@media only screen and (min-width: 601px)   {
  .container {
    width: 95%;
}
}
@media only screen and (min-width: 993px){
  .container {
    width: 95%;
}
}

.def-dashboard-image {    
    width: 398px;
    height: 265px !important;
}
.def-dashboard-images {    
    width: 398px;
    height: 150px !important;
}
.def-dashboard {    
    width: 398px;
    height: 140px !important;
}
.btn-small {
    height: 35px;
    line-height: 35px;
    padding: 0 0.5rem;
}