<svg (click)="onClicked.emit()"  style="isolation:isolate" viewBox="0 0 154.262 119.313"
  width="154.262" height="119.313">
  <path d=" M 129.92 109.257 L 10.057 109.257 L 10.057 59.657 L 10.057 10.057 L 129.92 10.057 L 144.205 59.657 L 129.92 109.257 Z "
    fill="rgb(255,255,255)" vector-effect="non-scaling-stroke" stroke-width="10.113" stroke="rgb(44,62,80)" stroke-opacity="100"
    stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" />
  <g transform="matrix(1,0,0,1,34,46)">
    <text transform="matrix(1,0,0,1,0,21.377)" style="font-family:&quot;Open Sans&quot;;font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">{{text}}</text>
  </g>
</svg>