<div class="row">
  <div class="col l3">
    <app-logo></app-logo>
  </div>
  <div class="col l9">
    <app-sub-navbar (budgetSelected)="selectBudget($event)"></app-sub-navbar>
  </div>
</div>
<div class="row">
  <div class="col l3">
    <div class="row">
      <div class="filter-elements">
        <div *ngIf="displayMode === displayModeEnum.Budget">

          <div *ngIf="level2Lines$ | async;let lines;">
            <div class="card" *ngIf="lines.length > 0">
              <div class="card-image">
                <h6> Charts</h6>
                <app-bar-chart [dataset]="lines" [valueField]="'opBudgetFC'" [labelField]="'code'"> </app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showApproval" class="row">
          <div *ngIf="unTouched$ | async; let lines;" class="row">
            <div *ngIf="lines.length > 0">
              <h6> {{lines.length}} lines will be automatically approved if you sign-off </h6>
            </div>
          </div>
          <div class="row">
            <div class="col l6">
              <button class="wave-effect wave-light btn" (click)="print()" name="action">Print</button>
            </div>
            <div class="col l6">
              <button class="right wave-effect wave-light btn" (click)="signOff()" name="action">Signoff</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l9">
    <div *ngIf="allWorkProgramStatuses$ | async; let items;" class="col s12">
      <div *ngIf="items.length > 0">
        <div class="row" *ngFor="let item of items">
          <nav>
            <div materialize class="nav-wrapper white">
              <a href="#" class="brand-logo black-text right">{{item.department}}</a>
              <ul id="nav-mobile" class="  hide-on-med-and-down">
                <app-business-process-svg [text]="workflow" [active]="item.status - 1"> </app-business-process-svg>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div *ngIf="displayMode === displayModeEnum.Budget">
      <div *ngIf="lines$ | async;let lines; else loading2">
        <app-line-details2 [lines]="lines" [budgetId]="budgetId" [type]="'budget'" [allBudgetStatus]="allWorkProgramStatuses$ | async"
          [showStatus]="false">
        </app-line-details2>
      </div>
    </div>
    <div *ngIf="displayMode === displayModeEnum.Actual">
      <div *ngIf="actuals$ | async;let actuals; else loading2">
        <app-line-details2 [actuals]="actuals" [budgetId]="budgetId" [type]="'actual'">
        </app-line-details2>
      </div>
    </div>
  </div>
</div>