<div materialize class="row" [formGroup]="lineCommentForm">
  <div class="col s12">
    <div class="card oryx-card-radius amber lighten-4">

      <div class="card-content">
        <div style="margin-left:auto;line-height: 2;">
          <span></span>
        </div>
        <div class="input-field row">
          <textarea class="materialize-textarea validate gud beta" formControlName="comment" name="comment">            
            </textarea>
        </div>
        <div style="float:right;margin-bottom:auto;padding-bottom:40px;line-height: 2;">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>