<div class="row">
  <div class="col l3">
    <app-logo></app-logo>
  </div>
  <div class="col l9">
    <app-sub-navbar (budgetSelected)="selectBudget($event)"></app-sub-navbar>
  </div>
</div>
<div class="row">
  <div class="col l3">
    
    <div class="row">
      <div class="filter-elements">
        <div *ngIf="workProgramStatus$ | async; let status;" class="row">
          <h6>Status: {{status}}</h6>
        </div>
        <div class="row">
          <a class="btn waves-effect waves-light orange" (click)="showExploration('AFE')">Exploration Details</a>
        </div>
        <div class="row">
          <a class="btn waves-effect waves-light green" (click)="showExploration('Exploration Details')">Well AFE</a>
        </div>
        <div *ngIf="napims$ | async" class="row">
          <a class="btn waves-effect waves-light blue" (click)="openFirst()">Sign Off</a>
        </div>



        <div *ngIf="showApproval" class="row">
          <div *ngIf="unTouched$ | async; let lines;" class="row">
            <div *ngIf="lines.length > 0">
              <h6> {{lines.length}} lines will be automatically approved if you sign-off </h6>
            </div>
          </div>
          <div class="row">
            <div class="col l6">
              <button class="wave-effect wave-light btn" (click)="print()" name="action">Print</button>
            </div>
            <div class="col l6">
              <button class="right wave-effect wave-light btn" (click)="signOff()" name="action">Signoff</button>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
  <div class="col l9">
    <div *ngIf="displayMode === displayModeEnum.Budget">
      <div *ngIf="lines$ | async;let lines; else loading2">
        <app-line-details2 [lines]="lines" [budgetId]="budgetId" [type]="'budget'" 
          [workProgramStatus]="workProgramStatus$ | async">
        </app-line-details2>
      </div>
    </div>
    <div *ngIf="displayMode === displayModeEnum.Actual">
      <div *ngIf="actuals$ | async;let actuals; else loading2">
        <app-line-details2 [actuals]="actuals" [budgetId]="budgetId" [type]="'actual'">
        </app-line-details2>
      </div>
    </div>
  </div>
</div>