  
      <div class="col s12">      
        <div class="col m3 s12">
          <div class="container">
            <div class="row">
              <div class="card-image  def-dashboard-image">
                <div *ngIf="operator$ | async; let op; else loading1">
                  <!--<img src="{{op.imageSrc}}" alt="" />-->
                  <span class="{{op.name}}"></span>
                </div>
                <ng-template #loading1>Loading Operator Data...
                  <div class="row">
                    <app-notification [loading]="loading$ | async"> </app-notification>
                  </div>
                </ng-template>
                <div class="row" *ngIf="budgets$ | async; let budgets;">                  
                  
                </div>
              </div>
            </div>
            <div class="row" *ngIf="dept === 'Exploration'">
              <h1 class="saugroboter-h1">Exploration Work Program</h1>
              <div class="filter-elements">
                <div class="row">
                  <a class="btn waves-effect waves-light orange" (click)="showExploration('AFE')">Exploration Details</a>
                </div>
                <div class="row">
                  <a class="btn waves-effect waves-light green" (click)="showExploration('Exploration Details')">Well AFE</a>
                </div>

              </div>
            
            </div>
            <div class="row" *ngIf="dept === 'Facilities'" class="row">
              <div class="collection">
                <ul class="collection with-header">
                  <li class="collection-header">
                    <h4>Facilities Work Program</h4>
                  </li>
                  <li class="collection-item">
                    <div>Detailed Sheet Civil<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                  </li>
                  <li class="collection-item">
                    <div>Crude and Condensate<a (click)="showExploration('New Projects')" class="secondary-content"><i class="material-icons">send</i></a></div>
                  </li>
                  <li class="collection-item">
                    <div>Sign off New Projects<a (click)="showExploration('New Projects')" class="secondary-content"><i class="material-icons">send</i></a></div>
                  </li>
                  <li class="collection-item">
                    <div>Summary Sheet<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col m9 s12">
          <div class="row">
            <div class="col s12">
              <app-notification [saving]="saving$ | async"> </app-notification>
            </div>

          </div>
          <div class="row">
            <div class="container">
              <div class="card-content">
                <div *ngIf="budgets$ | async; let budgets;">
                  <div class="row">
                    <a [class.disabled]="displayMode == displayModeEnum.Budget" class="btn waves-effect waves-light green" (click)="showBudget()">Budget</a>
                    <a [class.disabled]="displayMode == displayModeEnum.Actual" class="btn waves-effect waves-light orange" (click)="showActual()">Cash Call</a>
                    <a [class.disabled]="displayMode == displayModeEnum.Actual" class="btn waves-effect waves-light orange" (click)="showActual()">Performance</a>
                    <a class="btn waves-effect waves-light amber" (click)="getLineDetails(budgets[0].id)"><i class="material-icons right" >refresh</i></a>
                    <form materialize class="col s12">
                      <div *ngIf="showLevel >= 1">
                        <div class="input-field col s2">
                          <input type="checkbox" name="subCom" id="subCom" [checked]="showSubCom$ | async " (change)="showSubCom$.next($event.target.checked)"
                          />
                          <label for="subCom">Sub Committee</label>
                        </div>
                      </div>
                      <div *ngIf="showLevel >= 2">
                        <div class="input-field col s2">
                          <input type="checkbox" name="tecCom" id="tecCom" [checked]="showTecCom$ | async " (change)="showTecCom$.next($event.target.checked)"
                          />
                          <label for="tecCom">Technical Committee</label>
                        </div>
                      </div>
                      <div *ngIf="showLevel >= 3">
                        <div class="input-field col s3">
                          <input type="checkbox" name="malCom" id="malCom" [checked]="showMalCom$ | async " (change)="showMalCom$.next($event.target.checked)"
                          />
                          <label for="malCom">Management Committee</label>
                        </div>
                        <div class="input-field col s2">
                          <input type="checkbox" name="final" id="final" [checked]="showFinal$ | async " (change)="showFinal$.next($event.target.checked)"
                          />
                          <label for="final">Final Budget</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="displayMode === displayModeEnum.Budget">
                    <div *ngIf="lines$ | async ;let lines; else loading2">
                      <div *ngIf="lines.length >= 2;else noLines">
                        <app-line-details [lines]="lines" (comments)="getComments($event)" [commentSaved]="commentSaved$" [lineComments]="lineComments$ | async"
                          [lineStatus]="lineStatus$ | async" (addNewComment)="newComment($event)" (saveComments)="saveComments($event)"
                          [roles]="roles" [showSubCom]="showSubCom$ | async" [showTecCom]="showTecCom$ | async" [showMalCom]="showMalCom$ | async"
                          [showFinal]="showFinal$ | async" [roles]="roles" [operator]="true" (showActual)="showActual($event)">
                        </app-line-details>
                      </div>
                      <ng-template #noLines>
                        <div class="row">
                          <a class="waves-effect waves-light" (click)="upload(budgets[0])">Upload Budget</a>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <div *ngIf="displayMode === displayModeEnum.Actual">
                    <div *ngIf="actuals$ | async ;let actuals; else loading2">
                      <div *ngIf="actuals.length >= 2;else noLines">
                        <app-actual-detail [actuals]="actuals" (comments)="getComments($event)" [commentSaved]="commentSaved$" [lineComments]="lineComments$ | async"
                          [lineStatus]="lineStatus$ | async" (addNewComment)="newComment($event)" (saveComments)="saveComments($event)"
                          [roles]="roles" [showSubCom]="showSubCom$ | async" [showTecCom]="showTecCom$ | async" [showMalCom]="showMalCom$ | async"
                          [showFinal]="showFinal$ | async" [roles]="roles" [operator]="true" (showActual)="showActual($event)">
                        </app-actual-detail>
                      </div>
                      <ng-template #noLines>
                        <div class="row">
                          <a class="waves-effect waves-light" (click)="upload(budgets[0])">Upload Budget</a>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <ng-template #loading2>Loading Details ...
                    <div class="row">
                      <div class="col s6">
                        <app-notification [loading]="loading$ | async"> </app-notification>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>

              <div *ngIf="displayMode == displayModeEnum.Upload" class="row">
                <div class="container">
                  <div class="col s4 ">
                    <div class="card ">
                      <ul materialize="tabs" [materializeParams]="tabSelectionParams" class="tabs">
                        <li class="tab col s6">
                          <a (click)="setUploadType('Budget')" class="waves-effect waves-light"> Budget </a>
                        </li>
                        <li class="tab col s6">
                          <a (click)="setUploadType('Actual')" class=" waves-effect waves-light"> Performance </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <app-fileuploader [data]="data" [url]="uploadUrl" [title]="uploadTitle">
                  </app-fileuploader>
                </div>
              </div>

              <div *ngIf="displayMode == displayModeEnum.Option3" class="row">
                <div class="container">
                  <app-well> </app-well>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  

