<div class="row">
  <div class="card oryx-card-radius col l8">
    <div class="card-content oryx-card-header ">
        <span class="title-span">{{titled}}</span>
      </div>
    <form materialize materialize="updateTextFields" [formGroup]="form" (ngSubmit)="save(form.value)">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="" type="text" class="validate" formControlName="code" name="code">
            <label for="code" data-error="Please enter a numeric value">Code</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="" type="text" class="validate" formControlName="description" name="description">
            <label for="description" data-error="Please enter a numeric value">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select materialize="material_select" id="type" name="type" formControlName="type">										
                              <option  value="" disabled selected >Select a status </option>	
                  <option  [value]="'New'" ></option>                                    
                    </select>
            <label for="type" data-error="Please select an item frmm the list">Type</label>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <button [disabled]="form.invalid || form.pristine" class="wave-effect wave-light btn" type="submit" name="action">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>