<div class="row">

  <div class="col l12">
    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-material" [columnDefs]="columnDefs" groupHeaders rowHeight="48"
      rowSelection="single">
    </ag-grid-angular>
  </div>


  <div class="col l10 m10 s12" style="margin-left:200px">
    <div class="row">
        <div class="col l2">
    <a class="waves-effect waves-light btn" style="margin-top:25px;" (click)="openFirst()">New Entry</a>
     </div>
    <div class="col l2 file">
      <div class="file-field input-field ">
        <div class="btn ">
          <i class="material-icons">file_upload</i><span>File</span>
          <input type="file">
        </div>
      </div>
    </div>
       
    </div>
    <br/><br/>
    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params" [materializeActions]="actions1">
      <li>
        <div class="collapsible-header">
          <div class="row">
            <div class="col s2 ">
              <h6 class="right-align"> Code: </h6>
            </div>
            <div class="col s2">
              <h6>{{actuals.code}}</h6>
            </div>
            <div class="col s2 ">
              <h6 class="right-align"> Description: </h6>
            </div>
            <div class="col s6">
              <h6>{{actuals.description}}</h6>
            </div>
          </div>
        </div>
        <div class="collapsible-body">
          <form materialize materialize="updateTextFields" [formGroup]="form" (ngSubmit)="save(form.value)">
            <div class="card oryx-card-radius">
              <div class="card-content">

                <div class="row">
                  <div class="input-field col l4 m4 s12 ">
                    <input placeholder="" id="m_efDate" materialize="pickadate" [materializeParams]="[{selectMonths: true, selectYears: 45, format:'dd/mm/yyyy'} ]"
                      type="text" class="datepicker" formControlName="from" name="from">
                    <label for="from" data-error="Please enter a valid date" class="active">From</label>
                  </div>
                  <div class="input-field col l4 m4 s12 ">
                    <input placeholder="" id="m_efDate" materialize="pickadate" [materializeParams]="[{selectMonths: true, selectYears: 45, format:'dd/mm/yyyy'} ]"
                      type="text" class="datepicker" formControlName="to" name="to">
                    <label for="to" data-error="Please enter a valid date" class="active">To</label>
                  </div>

                </div>
                <div class="row">
                  <div class="input-field col s4">
                    <input placeholder="" type="text" class="validate" formControlName="opBudgetLC" name="opBudgetLC">
                    <label for="opBudgetLC" data-error="Please enter a numeric value">Operator Budget LC</label>
                  </div>
                  <div class="input-field col s4">
                    <input placeholder="" type="text" class="validate" formControlName="opBudgetUSD" name="opBudgetUSD">
                    <label for="opBudgetUSD" data-error="Please enter a numeric value">Operator Budget USD</label>
                  </div>
                  <div class="input-field col s4">
                    <input placeholder="" type="text" class="validate" formControlName="opBudgetFC" name="opBudgetFC">
                    <label for="opBudgetFC" data-error="Please enter a numeric value">Operator Budget FC</label>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                  <div class="input-field col s4">
                    <input placeholder="" type="text" class="validate" formControlName="opActualLC" name="opActualLC">
                    <label for="opActualLC" data-error="Please enter a numeric value">Operator Actual LC</label>
                  </div>
                  <div class="input-field col s4">
                    <input placeholder="" type="text" class="validate" formControlName="opActualUSD" name="opActualUSD">
                    <label for="opActualUSD" data-error="Please enter a numeric value">Operator Actual USD</label>
                  </div>
                  <div class="input-field col s4">
                    <input placeholder="" type="text" class="validate" formControlName="opActualFC" name="opActualFC">
                    <label for="opActualFC" data-error="Please enter a numeric value">Operator Actual FC</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col l2" style="margin-top:25px;">
                    <button [disabled]="form.invalid || form.pristine" class="wave-effect wave-light btn" type="submit" name="action">Save</button>
                  </div>
                  <div class="col l2 file">
                    <div class="file-field input-field ">
                      <div class="btn ">
                        <i class="material-icons">file_upload</i><span>File</span>
                        <input type="file">
                      </div>
                    </div>
                  </div>
                  <div class="col l4"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
    <br/><br/>
  </div>
</div>