<div class="section white">
  <div class="container">
    <div class="row">
      
    </div>
    <div class="row" *ngIf="authenticated$ | async"  >
      <app-wp-dashboard>
      </app-wp-dashboard>
      <!--<app-oryx-dashboard *ngIf="showNapims;else operator" [name]="name" [operatorId]="opearatorId" [role]="role" [operators]="operators$ | async"></app-oryx-dashboard>
      <ng-template #operator>
        <app-operator-view *ngIf="showOperator">
        </app-operator-view>
      </ng-template>-->
    </div>
  </div>
</div>