<div class="row">
  <form materialize materialize="updateTextFields" [formGroup]="form" (ngSubmit)="save(form.value)">
    <div class="row">
      <div class="col s8" formArrayName="formArray">
        <div *ngFor="let control of formArray.controls; let i = index">
          <span *ngIf="formArray.controls.length > 1" (click)="removeDetail(i)"><i class="material-icons right" >delete</i></span>
          <app-line-comment-comments-details [lineCommentsForm]=formArray.controls[i]>
          </app-line-comment-comments-details>
        </div>
      </div>
    </div>
  </form>
</div>