<div materialize class="">
  <div class="row">
    <div *ngIf="!nolines;else upload">
      <div *ngIf="showStatus" materialize class=" col s12 left">
        <nav>
          <div materialize class="nav-wrapper white">
            <ul id="nav-mobile" class="  hide-on-med-and-down">
              <div >
                <app-business-process-svg [text]="workflow" [active]="getStatus('')"> </app-business-process-svg>
              </div>
              
              <li class="right" *ngIf="linesTouched$ | async">
                <a class="btn btn-small waves-effect waves-light " (click)="UpdateStatus('update')">Save</a></li>

              <li class="right" *ngIf="linesTouched$ | async">
                <a class=" btn btn-small waves-effect waves-light " (click)="UpdateStatus('reset')">Reset</a></li>

              <li class="right" *ngIf="operator === true && type === 'actual'">
                <a class=" btn btn-small waves-effect waves-light " (click)="uploadActual('reset')">Upload Performance</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ag-grid-angular style="width: 100%; height: 750px;" class="ag-material" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
        groupHeaders rowHeight="48" rowSelection="single" (gridReady)="onReady($event)" [rowData]="rowData">
      </ag-grid-angular>
    </div>
    <ng-template #upload>
      <app-fileuploader [data]="data" [url]="uploadUrl" [title]="uploadTitle">
      </app-fileuploader>
    </ng-template>
  </div>
  <div class="" *ngIf="showComment === true">
    <app-dialog *ngIf="line$ | async; let line;" [(visible)]="showComment">
      <div class="col s1"></div>
      <div class="col s10">
        <div class="row">
          <ul materialize="tabs" [materializeParams]="tabSelectionParams" class="tabs  z-depth-1  teal accent-4 ">
            <!-- <li class="tab col s3 l3">
              <a (click)="changeDialog('actual')" class="white-text waves-effect waves-light"> Actuals </a>
            </li>-->
            <li class="tab col s3 l3">
              <a (click)="changeDialog('details')" class="white-text waves-effect waves-light"> Details </a>
            </li>
            <li class="tab col s3 l3">
              <a (click)="changeDialog('comments')" class="white-text waves-effect waves-light"> Comments </a>
            </li>
            <li class="tab col s3 l3">
              <a (click)="changeDialog('attachments')" class="white-text waves-effect waves-light"> Attachments </a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col s2 ">
            <h6 class="right-align"> Code: </h6>
          </div>
          <div class="col s2">
            <h6>{{line.code}}</h6>
          </div>
          <div class="col s2 ">
            <h6 class="right-align"> Description: </h6>
          </div>
          <div class="col s6">
            <h6>{{line.description}}</h6>
          </div>
        </div>

        <div *ngIf="dialogMode === 'details'">
          <app-line-comment [line]="line" [lineComments]="lineComments" (update)="updateComments($event)" (close)="showComment = !showComment"
            [showSubCom]="showSubCom" [showTecCom]="showTecCom" [showMalCom]="showMalCom" [napims]="napims" [operator]="operator">
          </app-line-comment>
        </div>
        <div *ngIf="dialogMode ==='comments'">
          <app-comments [line]="line" [lineComments]="lineComments$ | async" (update)="newComment($event)" (close)="showComment = !showComment"
            [napims]="napims" [operator]="operator"> </app-comments>
        </div>
        <div *ngIf="dialogMode ==='attachments'">
          <app-attachment> </app-attachment>
        </div>

      </div>
      <div class="col s1"></div>




      <!--<button (click)="showComment = !showComment" class="wave-effect wave-light btn ">Close</button>-->
    </app-dialog>
  </div>
</div>