<div class="row">
  <div class="row">
    <form materialize materialize="updateTextFields" [formGroup]="form" (ngSubmit)="save(form.value)">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="opActualLC" name="subComActualLC">
          <label for="subComActualLC" data-error="Please enter a numeric value">Operator Actual LC</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="opActualUSD" name="subComActualUSD">
          <label for="subComActual USD" data-error="Please enter a numeric value">Operator Actual USD</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="opActualFC" name="subComActualFC">
          <label for="subComActualFC" data-error="Please enter a numeric value">Operator Actual FC</label>
        </div>
      </div>
      <div class="divider"></div>
      <div *ngIf="showSubCom" class="row">
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="subComActualLC" name="subComActualLC">
          <label for="subComActualLC" data-error="Please enter a numeric value">Sub Committe Actual LC</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="subComActualUSD" name="subComActualUSD">
          <label for="subComActual USD" data-error="Please enter a numeric value">Sub Committe Actual USD</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="subComActualFC" name="subComActualFC">
          <label for="subComActualFC" data-error="Please enter a numeric value">Sub Committe Actual FC</label>
        </div>
      </div>
      <div *ngIf="showTecCom" class="row">
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="tecComActualLC" name="TecComActualLC">
          <label for="TecComActualLC" data-error="Please enter a numeric value">Technical Committe Actual LC</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="tecComActualUSD" name="TecComActualUSD">
          <label for="TecComActual USD" data-error="Please enter a numeric value">Technical Committe Actual USD</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" type="text" class="validate" formControlName="tecComActualFC" name="TecComActualFC">
          <label for="TecComActualFC" data-error="Please enter a numeric value">Technical Committe Actual FC</label>
        </div>
      </div>     
     
    </form>
  </div> 
</div>