<!--<nav>
  <div class="nav-wrapper teal accent-4">
    <div class="col s12">
      <a class="breadcrumb waves-effect waves-light" *ngFor="let item of history" (click)="filterLines(item, false)">{{item}}</a>
    </div>
  </div>
</nav>-->
<div materialize class="">
  <div class="">
    <div class="row">
      <ag-grid-angular style="width: 100%; height: 500px;" class="ag-material" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
        groupHeaders rowHeight="48" rowSelection="single" (gridReady)="onReady($event)">
      </ag-grid-angular>
    </div>



  </div>

</div>
<div class="" *ngIf="showComment === true">
  <app-dialog [(visible)]="showComment">
    <div class="col s1"></div>
    <div class="col s10">
      <div class="row">
        <ul materialize="tabs" [materializeParams]="tabSelectionParams" class="tabs  z-depth-1  teal accent-4 ">
          <li class="tab col s3 l3">
            <a (click)="changeDialog('actual')" class="white-text waves-effect waves-light"> Actuals </a>
          </li>
          <li class="tab col s3 l3">
            <a (click)="changeDialog('details')" class="white-text waves-effect waves-light"> Details </a>
          </li>
          <li class="tab col s3 l3">
            <a (click)="changeDialog('comments')" class="white-text waves-effect waves-light"> Comments </a>
          </li>
          <li class="tab col s3 l3">
            <a (click)="changeDialog('attachments')" class="white-text waves-effect waves-light"> Attachments </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col s2 ">
          <h6 class="right-align"> Code: </h6>
        </div>
        <div class="col s2">
          <h6>{{line.code}}</h6>
        </div>
        <div class="col s2 ">
          <h6 class="right-align"> Description: </h6>
        </div>
        <div class="col s6">
          <h6>{{line.description}}</h6>
        </div>
      </div>

      <div *ngIf="dialogMode === 'details'">
        <app-line-comment [line]="line" [lineComments]="lineComments" [lineStatus]="lineStatus" [userType]="userType" (update)="updateComments($event)"
          (close)="showComment = !showComment" [showSubCom]="showSubCom" [showTecCom]="showTecCom" [showMalCom]="showMalCom"
          [napims]="napims" [operator]="operator">
        </app-line-comment>
      </div>
      <div *ngIf="dialogMode ==='comments'">
        <app-comments [lineComments]="lineComments" (update)="newComment($event)" (close)="showComment = !showComment" [userType]="userType"
          [napims]="napims" [operator]="operator"> </app-comments>
      </div>
      <div *ngIf="dialogMode ==='attachments'">
        <app-attachment> </app-attachment>
      </div>

    </div>
    <div class="col s1"></div>




    <!--<button (click)="showComment = !showComment" class="wave-effect wave-light btn ">Close</button>-->
  </app-dialog>
</div>
<!--
<div  *ngIf="showComment === true" class="container">
  <div>
    <app-line-comment [budgetLines]="line" [lineComments]="lineComments">
    </app-line-comment>
  </div>
</div>
-->
<!-- Modal Structure -->
<!--<div class="container" *ngIf="showComment === true">
    <app-line-comment [line]="line" [lineComments]="lineComments" (update)="updateComments($event)">
    </app-line-comment>
  <ng-template #loading2>Loading Comments ...</ng-template>
</div>-->
