<!--<nav>
  <div class="nav-wrapper teal accent-4">
    <div class="col s12">
      <a class="breadcrumb waves-effect waves-light" *ngFor="let item of history" (click)="filterLines(item, false)">{{item}}</a>
    </div>
  </div>
</nav>-->
<div materialize class="container">
  <div class="card-content">
   
     <div class="row">
                <ag-grid-angular style="width: 100%; height: 500px;" class="ag-material" 
                  [gridOptions]="gridOptions" 
                  [columnDefs]="columnDefs"
                   groupHeaders 
                  rowHeight="48" rowSelection="single" 
                  (gridReady)="onReady($event)"
                  >
                </ag-grid-angular>
    </div>
    


  </div>

</div>
<div class="container" *ngIf="showComment === true">
  <app-dialog [(visible)]="showComment">

    <app-line-comment [line]="line" [lineComments]="lineComments" (userType)="userType"
    (update)="updateComments($event)" (close)="showComment = !showComment"
    [showSubCom]="showSubCom"  [showTecCom]="showTecCom" [showMalCom]="showMalCom" 
    [napims]="napims" [operator]="operator">
    </app-line-comment>
    <ng-template #loading2>Loading Comments ...</ng-template>

    <!--<button (click)="showComment = !showComment" class="wave-effect wave-light btn ">Close</button>-->
  </app-dialog>
</div>
<!--
<div  *ngIf="showComment === true" class="container">
  <div>
    <app-line-comment [budgetLines]="line" [lineComments]="lineComments">
    </app-line-comment>
  </div>
</div>
-->
<!-- Modal Structure -->
<!--<div class="container" *ngIf="showComment === true">  
    <app-line-comment [line]="line" [lineComments]="lineComments" (update)="updateComments($event)">
    </app-line-comment> 
  <ng-template #loading2>Loading Comments ...</ng-template>
</div>-->