<nav>
  <div class="nav-wrapper teal accent-4">
    <div class="col s12">
      <a class="breadcrumb waves-effect waves-light" *ngFor="let item of history" (click)="filterLines(item, false)">{{item}}</a>
    </div>
  </div>
</nav>
<div *ngIf="showComment === false" materialize class="container">
  <div class="card-content">
    <table class=" responsive-table">
      <thead>
        <tr>
          <th *ngIf="level === 3 ">Top Level</th>
          <th *ngIf="level === 2 || level ===3">Parent</th>
          <th>Code</th>
          <th>Description</th>
          <th>
            <div class="right">Budget</div>
          </th>
          <th>
            <div class="right">Budget USD</div>
          </th>
          <th>
            <div class="right">Budget LC</div>
          </th>
          <th>
            <div class="right"> Actual</div>
          </th>
          <th>
            <div class="right">Actual USD</div>
          </th>
          <th>
            <div class="right">Actual LC</div>
          </th>
          <th>Comments</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="level === 3">
          <td>
            <a class="waves-effect waves-light" (click)="filterLines(parentCode.code, true)">{{parentCode.code}}</a>
          </td>
          <td> </td>
          <td> </td>
          <td> {{parentCode.description}} </td>
          <td>
            <div class="right">{{parentCode.budget | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{parentCode.budgetUSD | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{parentCode.budgetLC | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{parentCode.actual | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{parentCode.actualLC | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{parentCode.actualUSD | number:'4.0-0'}}</div>
          </td>
          <td> <a class="waves-effect waves-light" (click)="getComments(parentCode.code)"><i class="material-icons right" >message</i> </a></td>

        </tr>
        <tr *ngIf="level >= 2 ">
          <td *ngIf="level ===3 "> </td>
          <td *ngIf="level  === 2 || level === 3  ">
            <a class="waves-effect waves-light" (click)="filterLines(selectedCode.code, true)">{{selectedCode.code}}</a>
          </td>
          <td> </td>
          <td> {{selectedCode.description}} </td>
          <td>
            <div class="right">{{selectedCode.budget | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{selectedCode.budgetUSD | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{selectedCode.budgetLC | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{selectedCode.actual | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{selectedCode.actualLC | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{selectedCode.actualUSD | number:'4.0-0'}}</div>
          </td>
          <td> <a class="waves-effect waves-light" (click)="getComments(selectedCode.code)"><i class="material-icons right" >message</i> </a></td>

        </tr>
        <tr *ngFor="let item of filtered">
          <td *ngIf="level === 3 "> </td>
          <td *ngIf="level  === 2 || level === 3"> </td>
          <td>
            <div *ngIf="item.level<3;else level3">
              <a class="waves-effect waves-light" (click)="filterLines(item.code, true)">{{item.code}}</a>
            </div>
            <ng-template #level3>
              <a class="waves-effect waves-light" (click)="showDetails(item.code)">{{item.code}}</a>
            </ng-template>

          </td>
          <td> {{item.description}} </td>
          <td>
            <div class="right">{{item.budget | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{item.budgetUSD | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{item.budgetLC | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{item.actual | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{item.actualLC | number:'4.0-0'}}</div>
          </td>
          <td>
            <div class="right">{{item.actualUSD | number:'4.0-0'}}</div>
          </td>
          <td> <a class="waves-effect waves-light" (click)="getComments(item.code)"><i class="material-icons right" >message</i> </a></td>

        </tr>

      </tbody>
      <ng-template #loading>Loading Operator Data...</ng-template>
    </table>
  </div>

</div>
<!--
<div  *ngIf="showComment === true" class="container">
  <div>
    <app-line-comment [budgetLines]="line" [lineComments]="lineComments">
    </app-line-comment>
  </div>
</div>
-->
<!-- Modal Structure -->
<div class="container" *ngIf="showComment === true">  
    <app-line-comment [line]="line" [lineComments]="lineComments" (update)="updateComments($event)">
    </app-line-comment> 
  <ng-template #loading2>Loading Comments ...</ng-template>
</div>