<div class="row">
  <div class="col s12 ">
    <div class=" card  horizontal">
      <div class="card-image  def-dashboard-image">
        <div *ngIf="operator$ | async; let op; else loading1">
          <img src="{{op.imageSrc}}" alt="" />
          <span class="{{op.name}}"></span>
        </div>
        <ng-template #loading1>Loading Operator Data...</ng-template>
        <div *ngIf="budgets$ | async; let budgets;">
          <h6>
            <a class="waves-effect waves-light" (click)="getLineDetails(budgets[0].id)">{{budgets[0].description}}</a>
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="card-content">
            <div *ngIf="budgets$ | async; let budgets; else loading">
              <div class="row">
                <form materialize class="col s12">
                  <div class="input-field col s2">
                    <input type="checkbox" name="subCom" id="subCom" [checked]="showSubCom$ | async " (change)="showSubCom$.next($event.target.checked)"
                    />
                    <label for="subCom">Sub Committee</label>
                  </div>
                  <div class="input-field col s2">
                    <input type="checkbox" name="tecCom" id="tecCom" [checked]="showTecCom$ | async " (change)="showTecCom$.next($event.target.checked)"
                    />
                    <label for="tecCom">Technical Committee</label>
                  </div>

                  <div class="input-field col s3">
                    <input type="checkbox" name="malCom" id="malCom" [checked]="showMalCom$ | async " (change)="showMalCom$.next($event.target.checked)"
                    />
                    <label for="malCom">Management Committee</label>
                  </div>
                  <div class="input-field col s2">
                    <input type="checkbox" name="final" id="final" [checked]="showFinal$ | async " (change)="showFinal$.next($event.target.checked)"
                    />
                    <label for="final">Final Budget</label>
                  </div>
                </form>
              </div>
            </div>
            <ng-template #loading>Loading Operator Data...</ng-template>
            <div *ngIf="lines$ | async;let lines; else loading2">
              <app-line-details [lines]="lines" (comments)="getComments($event)" [commentSaved]="commentSaved$" [lineComments]="lineComments$ | async"
                [showSubCom]="showSubCom$ | async" [showTecCom]="showTecCom$ | async" [showMalCom]="showMalCom$ | async" [showFinal]="showFinal$ | async"
                (saveComments)="saveComments($event)" [roles]="roles">
              </app-line-details>
            </div>
            <ng-template #loading2>Loading Details ...</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
