<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col s12 ">
        <div class=" card  horizontal">
          <div class="card-image  def-dashboard-image">
            <div *ngIf="operator$ | async; let op; else loading1">
              <img src="{{op.imageSrc}}" alt="" />
              <span class="{{op.name}}"></span>
            </div>
            <ng-template #loading1>Loading Operator Data...
              <div class="row">
                <app-notification [loading]="loading$ | async"> </app-notification>
              </div>
            </ng-template>
            <div *ngIf="budgets$ | async; let budgets;">
              <h6>
                <a class="waves-effect waves-light" (click)="getLineDetails(budgets[0].id)">{{budgets[0].description}}</a>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col s2">
              <div *ngIf="dept === 'Exploration'" class="row">
                <h1 class="saugroboter-h1">Exploration Work Program</h1>
                <div class="filter-elements">
                  <div class="row">
                    <a class="btn waves-effect waves-light orange" (click)="showExploration('AFE')">Exploration Details</a>
                  </div>
                  <div class="row">
                    <a class="btn waves-effect waves-light green" (click)="showExploration('Exploration Details')">Well AFE</a>
                  </div>
                  <div class="row">
                    <a class="btn waves-effect waves-light blue"(click)="openFirst()">Sign Off</a>
                  </div>

                  <ul  materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params"
                    [materializeActions]="actions1" style="margin-right:5px;">
                    <li>
                      <div class="collapsible-header">
                        <h6> Sign Off</h6>
                      </div>
                      <div class="collapsible-body">
                        <form materialize materialize="updateTextFields" [formGroup]="form" (ngSubmit)="save(form.value)">
                          <div class="row">
                            <div class="input-field col l12 m12 s12">
                              <select materialize="material_select" id="status" name="status" formControlName="status">										
                              <option  value="" disabled selected ></option>	
                  <option  [value]="accepted" >Accepted</option>          
                  <option  [value]="rejected" >Rejected</option>                                
                    </select>
                              <label for="status" data-error="Please select an item frmm the list">Status</label>
                            </div>
                          </div>
                          <div class="row">
                            <button [disabled]="form.invalid || form.pristine" class="wave-effect wave-light btn" type="submit" name="action">Initialise</button>
                          </div>
                        </form>
                      </div>
                    </li>
                  </ul>



                </div>
              </div>
              <div *ngIf="dept === 'Facilities'" class="row">
                <div class="collection">
                  <ul class="collection with-header">
                    <li class="collection-header">
                      <h4>Facilities Work Program</h4>
                    </li>
                    <li class="collection-item">
                      <div>Detailed Sheet Civil<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                      <div>Crude and Condensate<a (click)="showExploration('New Projects')" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                      <div>Sign off New Projects<a (click)="showExploration('New Projects')" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                      <div>Summary Sheet<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s10">
              <div class="row">
                <div class="col s12">
                  <app-notification [saving]="saving$ | async"> </app-notification>
                </div>
              </div>
              <div class="row">
                <div class="container">
                  <div class="card-content">
                    <div *ngIf="budgets$ | async; let budgets; ">
                      <div class="row">
                        <form materialize class="col s12">
                          <div *ngIf="showLevel >= 1">
                            <div class="input-field col s2">
                              <input type="checkbox" name="subCom" id="subCom" [checked]="showSubCom$ | async " (change)="showSubCom$.next($event.target.checked)"
                              />
                              <label for="subCom">Sub Committee</label>
                            </div>
                          </div>
                          <div *ngIf="showLevel >= 2">
                            <div class="input-field col s2">
                              <input type="checkbox" name="tecCom" id="tecCom" [checked]="showTecCom$ | async " (change)="showTecCom$.next($event.target.checked)"
                              />
                              <label for="tecCom">Technical Committee</label>
                            </div>
                          </div>
                          <div *ngIf="showLevel >= 3">
                            <div class="input-field col s3">
                              <input type="checkbox" name="malCom" id="malCom" [checked]="showMalCom$ | async " (change)="showMalCom$.next($event.target.checked)"
                              />
                              <label for="malCom">Management Committee</label>
                            </div>
                            <div class="input-field col s2">
                              <input type="checkbox" name="final" id="final" [checked]="showFinal$ | async " (change)="showFinal$.next($event.target.checked)"
                              />
                              <label for="final">Final Budget</label>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div *ngIf="displayMode === displayModeEnum.Budget">
                      <div *ngIf="lines$ | async;let lines; else loading2">
                        <app-line-details [lines]="lines" (comments)="getComments($event)" [commentSaved]="commentSaved$" [lineComments]="lineComments$ | async"
                          [lineStatus]="lineStatus$ | async" (addNewComment)="newComment($event)" [showSubCom]="showSubCom$ | async"
                          [showTecCom]="showTecCom$ | async" [showMalCom]="showMalCom$ | async" [showFinal]="showFinal$ | async"
                          (saveComments)="saveComments($event)" [roles]="roles" [napims]="true">
                        </app-line-details>
                      </div>
                    </div>
                    <ng-template #loading2>Loading Details ...
                      <div class="row">
                        <div class="col s6">
                          <app-notification [loading]="loading$ | async" [saving]="saving$ | async"> </app-notification>
                        </div>
                      </div>
                    </ng-template>
                    <div *ngIf="displayMode == displayModeEnum.Option3" class="row">
                      <div class="container">
                        <app-well> </app-well>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>